{% extends "layout.html" %}

{% block main %}
    <div class="container">
        <div class="row mt-5 pt-5"></div>
        <div class="row my-3 py-3 text-white">
            <div class="col-4">
                <h4>Engine Legend</h4>
                <p>1 - Petrol</p>
                <p>2 - Diesel</p>
                <p>3 - Hibryd</p>
            </div>
            <div class="col-4">
                <h4>Color Legend</h4>
                <p>1 - White</p>
                <p>2 - Black</p>
                <p>3 - Blue</p>
                <p>4 - Grey</p>
            </div>
            <div class="col-4">
                <h4>Type Legend</h4>
                <p>1 - Sedan</p>
                <p>2 - Coupe</p>
                <p>3 - Hatchback</p>
                <p>4 - Break</p>
                <p>5 - SUV</p>
            </div>
        </div>
        <div class="row mt-3 pt-3">
            <table class="table rounded">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Engine</th>
                        <th>Color</th>
                        <th>Type</th>
                        <th>Year</th>
                        <th>Insurance Expiration Date</th>
                        <th>Maintenance Need Date</th>
                        <th>Price Per Day</th>
                        <th>Accidents</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Display every car-->
                    {% for car in cars %}
                    <tr>
                        <td>{{ car.id }}</td>
                        <td>{{ car.make }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.engine_type_id }}</td>
                        <td>{{ car.color_id }}</td>
                        <td>{{ car.car_type_id }}</td>
                        <td>{{ car.year }}</td>
                        <td>{{ car.insurance_expiration_date }}</td>
                        <td>{{ car.maintenance_need_date }}</td>
                        <td>${{ car.price_per_day }}</td>
                        <td>{{ car.accidents }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/change_details" class="btn btn-primary btn-lg border-0">Change Details</a>
            <a href="/adding_car" class="btn btn-primary btn-lg mt-3 border-0">Add Car</a>
            <a href="/remove" class="btn btn-primary btn-lg mt-3 border-0">Remove Car</a>
        </div>
        <div class="row mt-4 pt-4"></div>
    </div>
{% endblock %}
